{% extends 'base.html' %}
{% block body %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
        body{
            background-image: url(https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .bg-glass {
            background-color: hsla(0, 1%, 68%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
          }
    </style>
    <div class="container-fluid mt-2">
      {% if messages %}
        {% for messages in messages %}
        <div class="alert alert-{{messages.tags}} alert-dismissible fade show" role="alert">
          <strong>Message: </strong> {{messages}}.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            The best pizza for your <br />
            <span style="color: hsl(218, 81%, 75%)">hungry stomach</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            "Do good. Be nice. Order pizza. Repeat."
            <br>
            "You can't buy happiness. But you can buy pizza, and that's kind of the same thing." 
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form method="post">
                {% csrf_token %}
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                   
                  </div>
                
                </div>
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control" name='username'/>
                  <label class="form-label" for="form3Example3">Username</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" name='password'/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                 Login
                </button>
  

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
{% endblock %}